/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body {
  background-color: #fafaf8 !important;
  /* background-color: #009688 !important;  */
} 
main > .container {
  padding: 60px 15px 0;
}
.btn-primary {
  background-color: #009688;
  border-color: #009688;
}
.btn-primary:hover {
  background-color: #009670;
  border-color: #009670;
}
a {
  color: #009688;
}
a:hover {
  color: #009670;
  text-decoration: none;
}

.navbar {
  padding: 5px;
}

/* top navigation begin */
form.header-search input[type=text] {
  padding: 4px;
  font-size: 15px;
  border: 1px solid white;
  float: left;
  width: 85%;
  background: white;
  border-radius: 15px 0px 0px 15px;
  outline: none;
}
form.header-search button {
  float: left;
  width: 15%;
  padding: 4px;
  background: white;
  color: #009688;
  font-size: 15px;
  border: 1px solid white;
  border-left: none;
  border-radius: 0px 15px 15px 0px;
  outline: none;
}

form.header-search button:hover {
  color: green;
}
.navbar-nav a.nav-link {
  color: white !important;
}
.navbar-nav a.nav-link:hover {
  color: orange !important;
}
/* top navigation end */


/* footer begin */
.footer {
  /* background-color: #f5f5f5; */
  /* background-color:#343840; */
  background-color:#009688;
  color: white; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  /* margin: 10px; */
  margin: 0px;
}
.footer a span {
  margin: 10px;
}
/* footer end */

/* home page begin 
===================*/
/* home big search begin */
h4.hadith-slogan {
  color:#4CAF50;
}
form.home-big-search input[type=text] {
  padding: 8px;
  font-size: 17px;
  border: 2px solid #009688;
  float: left;
  width: 90%;
  background: white;
  outline:none;
}
form.home-big-search button {
  float: left;
  width: 10%;
  padding: 8px;
  background: #009688;
  color: white;
  font-size: 17px;
  border: 2px solid #009688;
  border-left: none;
  outline: none;
}
/* home big search end */

/* bello home big search begin */


#home-daily-hadith p {
  margin: 10px;
}
.home-search .nav-pills .active {
  color: green !important;
  background-color: white !important;
} 
.nav-pills .nav-link {
  padding-right: 0;
}
.nav-item-separator {
  color: gray;
  margin: 0px 0px 0px 10px;
}
.tab-content #home-daily-hadith {
  border: 1px solid #009688;
  background-color:#00968829;
}
/* bello home big search end */

/* home book list begin */
.book-left {
  padding: 0px 0px 0px 40px;
  margin: 15px 0px;
}
.book-right {
  padding: 0px 40px 0px 0px;
  margin: 15px 0px;
}
/* Mobile devices (max width 991px ) */
@media (max-width: 991px) {
  #home-dh-nav {
    display: none;
  }
  #home-daily-hadith {
    display: none;
  }



  .book-left {
    padding: 0px;
    margin: 0px 15px;
  }
  .book-right {
    padding: 0px;
    margin: 0px 15px;
  }
  .home-book-item-left{
    margin-bottom: 10px;
  }
  .home-book-item-right{
    margin-bottom: 10px;
  }


}


.home-book-item-left{
  border: 2px solid #00968838;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}
/* .home-book-align {
  margin-right: 200px;
} */
.home-book-item-right{
  border: 2px solid #00968838;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}

.home-book-item-left a{
  color:#009688;
  text-decoration: none;
  font-size: 17px;
}
.home-book-item-left a:hover {
  color:orange !important;
}
.home-book-item-right a{
  color:#009688;
  text-decoration: none;
  font-size: 17px;
}
.home-book-item-right a:hover {
  color:orange !important;
}
/* home book list end */
.connetc-us a {
  margin: 0px 5px;
}
/* home page end 
===================*/

/* book page begin 
===================*/










/* left sidebar start */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .left-sidebar { 
    background-color: #F8F9FA;
    position: fixed;
    width: 18%;
    /* top:1; */
    /* right:0; */
    /* left:0; */
    /* z-index: 1030; */
  }
  #hadith-book-mobile {
    display: none;
  }
  
}
/* Mobile devices (max width 991px ) */
@media (max-width: 991px) {
  /* .sidebar-daily-hadith { 
    display: none;
  } */
  #hadith-book-web {
    display: none;
  }
}


#hadith-book {
  max-height: 375px;
  overflow: scroll;
}
div.col-md-3.left-sidebar {
  padding-left: 0;
  padding-right: 0;
}
.tab-content .active {
  padding: 0;
}
.left-sidebar .nav-pills .active {
  border-radius: 0;
} 
.left-sidebar .nav-pills a.nav-link {
  padding-right: 8px;
  padding-left: 8px;
} 
.list-group-item {
  padding: 10px;
  border: 1px solid #00968869;
}

/* .sidebar-daily-hadith {
  border: 1px solid #dee2e6;
  background-color: #F8F9FA;
  max-height: 300px;
  overflow: auto;
} */


/* .sidebar-daily-hadith h6 {
  margin: 10px;
}
.sidebar-daily-hadith span {
  color:#009688;
}
.sidebar-daily-hadith p {
  margin: 10px;
} */
/* left sidebar end */







/* book heading start */
.hadith-name-headline {
  border: 1px solid #009688;
  padding: 10px;
}
.hadith-name-headline i {
  margin: 5px 5px 5px 15px;
  color: #009688;
}
.hadith-name-headline h4 {
  margin: 5px 5px 5px 5px;
}
.hadith-name-headline p {
  margin: 8px 5px 5px 0px;
}
/* book heading end */
/* book table begin */
.book-list-table {
  border-right: 1px solid #9E9E9E; 
  border-bottom: 1px solid #9E9E9E;
}
.book-subject-no {
  background-color: #009688;
  color: white;
  border: 0 !important;
}
.book-list-table a {
  color: #343a40;
  text-decoration: none;
}
.book-list-table a:hover {
  color: black;
  text-decoration: none;
}
.table td {
  border-top: 1px solid #9E9E9E;
}
/* book table end */
/* book page end 
===================*/

/* chapter page begin 
===================*/
.card {
  border-radius: 0;
}
.box-two .card-body {
  padding: 0;
}
.box-two {
  border: 1px solid #dee2e6; 
}
.box-two .chapter-no {
  float: left;
  background-color: #009688;
  color: white;
  padding: 10px 18px;
}
.box-two .chapter-name {
  float: left;
  margin: 10px 18px;
}
.box-two .chapter-name a {
  text-decoration: none;
  color: black;
}
.box-two .chapter-name a:hover {
  color:gray;
}
.box-two .hadis-from-to {
  float: right;
  margin: 10px 18px;
}


.box-three i {
  margin:0px 5px 5px 5px;
  color: green;
}
.box-three h6 {
  margin: 5px 0px 0px 5px;
  font-weight: bold;
}
p.chapter-subject {
  margin: 5px 5px 10px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
}
p.chapter-subject-details {
  margin: 5px;
}


/* .single-hadith i {
  margin: 12px 5px 5px 10px;
  color: grey;
} */
.hadith-no-icon {
  margin: 12px 5px 5px 10px;
  color: grey;
}
.single-hadith h6 {
  margin: 8px 0px 0px 5px;
  color: green;
  font-size: 22px;
  font-weight: bold;
}
p.hadith-in-arabic {
  margin: 0px 0px 30px 15px;
  font-size: 20px;
  text-align: justify;
}
p.hadith-narrated {
  margin: 0px 0px 20px 15px;
  color: green;
}
p.hadith-in-bengali {
  margin: 0px 0px 15px 15px;
  text-align: justify;
}
p.hadith-reference {
  margin: 0px 0px 15px 15px;
  font-style: italic;
}

.hadith-footer{
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
}
.hadith-value-text {
  float: left;
  color: black;
  margin: 0px 5px 0px 15px;
}
/** hadith value begin **/
.hadith-value-sahi {
  float: left;
  background-color: green;
  color: white;
  padding: 0px 5px;
}
.hadith-value-hasan {
  float: left;
  background-color: green;
  color: white;
  padding: 0px 5px;
}
.hadith-value-daif {
  float: left;
  background-color: orange;
  color: white;
  padding: 0px 5px;
}
.hadith-value-maktu {
  float: left;
  background-color: lightgreen;
  color: white;
  padding: 0px 5px;
}
.hadith-value-mawkuf {
  float: left;
  background-color: lightgreen;
  color: white;
  padding: 0px 5px;
}
.hadith-value-munkar-always {
  float: left;
  background-color: lightblue;
  color: white;
  padding: 0px 5px;
}
.hadith-value-saaj {
  float: left;
  background-color: #e75480;
  color: white;
  padding: 0px 5px;
}
.hadith-value-munkar {
  float: left;
  background-color: darkorange;
  color: white;
  padding: 0px 5px;
}
.hadith-value-nirnitonoi {
  float: left;
  background-color: yellow;
  color: white;
  padding: 0px 5px;
}
.hadith-value-onnano {
  float: left;
  background-color: darkblue;
  color: white;
  padding: 0px 5px;
}
.hadith-value-durbolhadis {
  float: left;
  background-color: red;
  color: white;
  padding: 0px 5px;
}

/** hadith value end **/
.direct-hadith-link {
  float: right;
  margin-left: 10px;
}
.direct-hadith-link a {
  color:#009688;
  text-decoration: none;
}
.direct-hadith-link a:hover {
  color: green;
}
.direct-hadith-link i {
  margin-right: 3px;
}
.report {
  float: right;
}
.report a {
  color: #e05140;
  text-decoration: none;
}
.report a:hover {
  color: orange;
}
.report i {
  margin-right: 3px;
}

/* chapter page end 
===================*/

/* search main page begin
===================*/
.search-heading i {
  color: gray;
  margin: 0px 5px;
}
/* search main page end 
===================*/